<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="container">
    <div class="center">
      <div class="header">
    <h1> Choose a class to generate a random loadout for! </h1>
  </div>
    <form action="/status" method= "POST">
      <input type="image" src="https://wiki.teamfortress.com/w/images/1/13/Icon_scout.jpg?t=20160319165033" name="character" value="scout">
      <input type="image" src="https://wiki.teamfortress.com/w/images/c/c1/Icon_soldier.jpg?t=20160319164821" name="character" value="soldier">
      <input type="image" src="https://wiki.teamfortress.com/w/images/1/13/Icon_pyro.jpg?t=20160319165142" name="character" value="pyro"><br>
      <input type="image" src="https://wiki.teamfortress.com/w/images/c/c0/Icon_demoman.jpg?t=20160319164903" name="character" value="demoman">
      <input type="image" src="https://wiki.teamfortress.com/w/images/8/8e/Icon_heavy.jpg?t=20160319164550" name="character" value="heavy">
      <input type="image" src="https://wiki.teamfortress.com/w/images/b/bc/Icon_engineer.jpg?t=20160319164950" name="character" value="engineer"><br>
      <input type="image" src="https://wiki.teamfortress.com/w/images/f/f5/Icon_medic.jpg?t=20160319164343" name="character" value="medic">
      <input type="image" src="https://wiki.teamfortress.com/w/images/a/ac/Icon_sniper.jpg?t=20160319164648" name="character" value="sniper">
      <input type="image" src="https://wiki.teamfortress.com/w/images/9/9b/Icon_spy.jpg?t=20160319164738" name="character" value="spy"><br>
    </form>
  </div>
</div>
</body>
</html>

